//// CSS Variable
:root {
    --primary-color: #F4F1DE;
    --secondary-color: #F2CC8F;
    --text-color: #E07A5F;
}

//// SCSS Variable
$primaryColor: #F4F1DE;
$secondaryColor: #F2CC8F;
$textColor: #E07A5F;

//// CSS
body {
    background-color: var(--primary-color);
}

h1 {
    color: var(--text-color);
}

//// SCSS
body {
    background-color: var($primaryColor);
}

h1 {
    color: var($textColor);
}

//// SCSS Behavior
// No 1 ( '-' == '_' )

$primary-Color: #F4F1DE;
body {
    background-color: var($primary_Color);
}

// No 2 (Scope)
body {
    $primary-Color: #F4F1DE;
    $textColor: #E07A5F; // Local Variable
    background-color: var($primary_Color);
}

h1 {
    color: var($textColor); // Cannot access Local Variable
}
// --- Solution ---
body {
    $textColor: #E07A5F !global; // Global Variable
}

// No 3 (Mapping)
$alert: (
    'danger': red,
    'success': green,
    'warning': orange
);

h1 {
    color: map-get($alert, 'success');
}