// Base
$color-basic: salmon;
h1 {
    color: $color-basic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
}

// Built-in Modules: Color
// adjust-color($color: $color-basic, $red: 1, $green: 30, $blue: 3, $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: 1.0)
h1{
    color: adjust-color($color: $color-basic, $green: 100, $blue: 100, $red: -50)
}

// adjust-hue($color, $degree)
h1{
    color: adjust-hue($color-basic, -30dg)
}

// complement($color)
h1 {
    color: complement($color-basic)
}

// darken($color, $amount)
h1 {
    color: darken($color-basic, 20%)
}

// ligthen($color, $amount)
h1 {
    color: lighten($color-basic, 10%);
}

// saturate($color, $amount)
h1{
    color: saturate($color-basic, 30%);
}

// desaturate9$color, $amount)
h1{
    color: desaturate($color-basic, 50%)
}

// grayscale($color)
h1 {
    color: grayscale($color-basic)
}

// mix($color1, $color2, $weight: 20%)
h1 {
    color: mix($color-basic,blue, $weight: 80%)
}

// fade-in($color, $amount)
h1 {
    color: fade-in(rgba(250,128,114,0.2), 0.5);
}

// fade-out($color, $amount)
h1 {
    color: fade-out($color-basic, 0.6)
}